<div id="footer">
  <p>
    Copyright &copy; 2005–2010
    <a href="http://pragmaticstudio.com">The Pragmatic Studio</a>. 
    All Rights Reserved.
  </p>
  <p>
    For educational purposes only.
  </p>
</div>